<app-character-search></app-character-search>
<div class="items">
    <ng-container *ngFor="let fc of fcs">
        <div class="item" (click)="openDetails('fc', fc.ID)">
            <div class="item-description">
                <p class="item-name">{{ fc.Name }}</p>
                <p class="item-name" style="font-size: 15px;">{{ fc.Server }}</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let character of characters">
        <div class="item" (click)="openDetails('char', character.ID)">
            <div class="item-thumb-container">
                <img
                    *ngIf="character.Avatar"
                    class="item-thumbnail"
                    src="{{ character.Avatar }}"
                    alt="thumbnail"
                />
                <p *ngIf="!character.Avatar">No image</p>
            </div>
            <div class="item-description">
                <p class="item-name">{{ character.Name }}</p>
                <p class="item-name" style="font-size: 15px;">{{ character.Server }}</p>
            </div>
        </div>
    </ng-container>
</div>