.mode-switcher{
    &-button{
        padding: 10px 30px;
        background: rgb(80, 80, 80);
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        &-game{
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            border-left: 1px solid grey;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        &-social{
            margin-right: 10px;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            border-right: 1px solid grey;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        &-pressed{
            background: rgb(61, 61, 61);
            box-shadow:         inset 0 0 10px #000000;
            cursor: default;
        }
    }
}